{% extends 'base.html.twig' %}

{% block body %}
<header class="header">
  <h1 class="text-center"> 💩 Shopping list 💩</h1>
</header>
  <div class="container">

    <div class="row">
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading text-center"><strong>Add a product to your shopping list :</strong></div>
          <div class="panel-body">
            <form  method="post" et action="/new">
              <div class="form-group">
                <input type="text" class="form-control" id="product_name" placeholder="Product name">
              </div>
              <div class="form-group">
                <input type="number" class="form-control" id="product_quantity" placeholder="Quantity">
              </div>
              <button type="submit" href="{{ path('_new') }}" class="btn btn-default">Create a new product</button>
            </form>
          </div>
        </div>

      </div>
      <div class="col-md-8">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Quantity</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for product in products %}
              <tr>
                <td>
                  <a href="{{ path('_show', { 'id': product.id }) }}">{{ product.id }}</a>
                </td>
                <td>{{ product.name }}</td>
                <td>{{ product.quantity }}</td>
                <td>
                  <ul class="list-inline">
                    <li>
                      <a href="{{ path('_show', { 'id': product.id }) }}">
                        <span class="glyphicon glyphicon-eye-open"></span>
                      </a>
                    </li>
                    <li>
                      <a href="{{ path('_edit', { 'id': product.id }) }}">
                        <span class="glyphicon glyphicon-pencil"></span>
                      </a>
                    </li>
                  </ul>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

{% endblock %}
